<!-- main app container -->
<div class="card m-3">
  <h5 class="card-header">SAIKUMAR ANGULAR 10 FORM</h5>
  <div class="card-body">

    <div class="row">
      <div class="col-6">
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"
          [mustMatch]="['password', 'confirmPassword']" novalidate>

          <!-- Row 1 -->
          <div class="form-row">

            <div class="form-group col-2">
              <label>3 MessageType</label>
              <input type="text" name="fpl" value="FPL" class="form-control" [(ngModel)]="model.fpl" #fpl="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && fpl.invalid }" placeholder="FPL" disabled required>
            </div>

            <div class="form-group col-2">
              <label>7 AircraftID*</label>
              <input type="text" name="aircraftId" class="form-control" [(ngModel)]="model.aircraftId"
                #aircraftId="ngModel" [ngClass]="{ 'is-invalid': f.submitted && aircraftId.invalid }" required>
            </div>

            <div class="form-group col-2">
              <label>SSRMode & Code</label>
              <div class="form-row">
                <div class="form-group col-6">
                  <!-- <label>7 AircraftID*</label> -->
                  <input type="text" name="ssrMode" class="form-control" [(ngModel)]="model.ssrMode" #ssrMode="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && ssrMode.invalid }" required>
                </div>
                <div class="form-group col-6">
                  <!-- <label>7 AircraftID*</label> -->
                  <input type="text" name="code" class="form-control" [(ngModel)]="model.code" #code="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && code.invalid }" required>
                </div>
              </div>

            </div>

            <div class="form-group col-2">
              <label>8 FlightRules*</label>
              <input type="text" name="flightRules" class="form-control" [(ngModel)]="model.flightRules"
                #flightRules="ngModel" [ngClass]="{ 'is-invalid': f.submitted && flightRules.invalid }" required>
            </div>

            <div class="form-group col-2">
              <label>Type of Flight*</label>
              <input type="text" name="typeOfFlight" class="form-control" [(ngModel)]="model.typeOfFlight"
                #typeOfFlight="ngModel" [ngClass]="{ 'is-invalid': f.submitted && typeOfFlight.invalid }" required>
            </div>
          </div>

          <!-- Row 2 -->
          <div class="form-row">

            <div class="form-group col-2">
              <label>9 Aicraft Number</label>
              <input type="text" name="aircraftNumber" class="form-control" [(ngModel)]="model.aircraftNumber"
                #aircraftNumber="ngModel" [ngClass]="{ 'is-invalid': f.submitted && aircraftNumber.invalid }" required>
            </div>

            <div class="form-group col-2">
              <label> AircraftType*</label>
              <input type="text" name="aircraftType" class="form-control" [(ngModel)]="model.aircraftType"
                #aircraftType="ngModel" [ngClass]="{ 'is-invalid': f.submitted && aircraftType.invalid }" required>
            </div>

            <div class="form-group col-2">
              <label>WakeTurbulenceCat</label>
              <input type="text" name="turbulence" class="form-control" [(ngModel)]="model.turbulence"
                #turbulence="ngModel" [ngClass]="{ 'is-invalid': f.submitted && turbulence.invalid }" required>
            </div>

            <div class="form-group col-2">
              <label>10 COM/NAV/APP</label>
              <input type="text" name="comnavapp" class="form-control" [(ngModel)]="model.comnavapp"
                #comnavapp="ngModel" [ngClass]="{ 'is-invalid': f.submitted && comnavapp.invalid }" required>
            </div>



            <div class="form-group col-2">
              <label>aid equipment*</label>
              <input type="text" name="aidEquipment" class="form-control" [(ngModel)]="model.aidEquipment"
                #aidEquipment="ngModel" [ngClass]="{ 'is-invalid': f.submitted && aidEquipment.invalid }" required>
            </div>

          </div>

          <!-- Row 3 -->
          <div class="form-row">

            <div class="form-group col-4">
              <label>13 DEP Aero.&Time*</label>
              <input type="text" name="depAeroTime" class="form-control" [(ngModel)]="model.depAeroTime"
                #depAeroTime="ngModel" [ngClass]="{ 'is-invalid': f.submitted && depAeroTime.invalid }" required>
            </div>

          </div>

          <!-- Row 4 -->
          <div class="form-row">

            <div class="form-group col-4">
              <label>15 Cruising Speed*</label>
              <input type="text" name="cruisingSpeed" class="form-control" [(ngModel)]="model.cruisingSpeed"
                #cruisingSpeed="ngModel" [ngClass]="{ 'is-invalid': f.submitted && cruisingSpeed.invalid }" required>
            </div>

            <div class="form-group col-3">
              <label> Cruising Level*</label>
              <input type="text" name="cruisingLevel" class="form-control" [(ngModel)]="model.cruisingLevel"
                #cruisingLevel="ngModel" [ngClass]="{ 'is-invalid': f.submitted && cruisingLevel.invalid }" required>
            </div>

            <div class="form-group col-3">
              <label>Route*</label>
              <textarea type="text" name="route" class="form-control" [(ngModel)]="model.route" #route="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && route.invalid }" required></textarea>
            </div>

          </div>

          <!-- Row 5 -->
          <div class="form-row">

            <div class="form-group col-4">
              <label>16 DST Aero.&TotalIEET*</label>
              <input type="text" name="dstAeroTotal" class="form-control" [(ngModel)]="model.dstAeroTotal"
                #dstAeroTotal="ngModel" [ngClass]="{ 'is-invalid': f.submitted && dstAeroTotal.invalid }" required>
            </div>

            <div class="form-group col-3">
              <label> 1st Alt Aerodrome</label>
              <input type="text" name="altAerodrome1" class="form-control" [(ngModel)]="model.altAerodrome1"
                #altAerodrome1="ngModel" [ngClass]="{ 'is-invalid': f.submitted && altAerodrome1.invalid }" required>
            </div>

            <div class="form-group col-3">
              <label>2st Alt Aerodrome</label>
              <input type="text" name="altAerodrome2" class="form-control" [(ngModel)]="model.altAerodrome2"
                #altAerodrome2="ngModel" [ngClass]="{ 'is-invalid': f.submitted && altAerodrome2.invalid }" required>
            </div>

          </div>

          <!-- Row 6 -->
          <div class="form-row">

            <div class="form-group col-12">
              <label>18 OtherInfo</label>
              <textarea type="text" name="otherInfo" class="form-control" [(ngModel)]="model.otherInfo"
                #otherInfo="ngModel" [ngClass]="{ 'is-invalid': f.submitted && otherInfo.invalid }" required></textarea>
            </div>

          </div>

          <div>
            <button class="btn btn-success mr-1">Submit</button>
            <button class="btn btn-success mr-1" type="reset">Display</button>
            <button class="btn btn-success mr-1" type="reset">Clear</button>
            <button class="btn btn-success" type="reset">Print</button>
          </div>
        </form>
      </div>
      <div class="col-6">
        <!-- this creates a google map on the page with the given lat/lng from -->
        <!-- the component as the initial center of the map: -->
        <agm-map [latitude]="lat" [longitude]="lng">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
      </div>
    </div>


  </div>
</div>
